<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sharingbookshelf">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcherr"
        android:label="아이북쉐어"
        android:roundIcon="@mipmap/ic_launcherr_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SharingBookshelf"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Activities.MainActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.LoginResultActivity" ></activity>
        <activity
            android:name=".Activities.RegisterActivity"
            android:theme="@style/SplashTheme" ></activity>
        <activity android:name=".Activities.SelectAgeAreaActivity"
            android:theme="@style/StatusBar"></activity>
        <activity android:name=".Activities.TakingPhotoActivity"
            android:theme="@style/Theme.AppCompat"></activity>
        <activity android:name=".Activities.HomeActivity"
            android:theme="@style/Theme.AppCompat"></activity>
    </application>

</manifest>